<div class="container box">

    <div class="text-center" style="padding-bottom: 30px;">
        In the admin panel you can see pending registration requests.
        <br>
        You can also ban or delete activated users.
    </div>

    <div class="panel center-block">
        <div class="panel-body text-center">
            <button class="btn btn-default" ng-click="loadActivatedUsers()">
                Activated accounts
            </button>
            <button class="btn btn-default" ng-click="loadInactivatedUsers()">
                Inactive accounts
            </button>
        </div>
    </div>

    <div>
        <hr ng-show="users!=null">
        <h2 class="intro-text text-center">
            <strong ng-show="currentView=='activatedAcc'">Accounts that are already activated</strong>
            <strong ng-show="currentView=='deactivatedAcc'">Pending requests</strong>
        </h2>
        <hr>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>e-mail</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="u in users">
                <td>{{ u.name }}</td>
                <td>{{ u.surname }}</td>
                <td>{{ u.email }}</td>
                <td>
                    <button class="btn btn-warning mwbtn" ng-click="deactivateUser(u)"
                            ng-show="currentView=='activatedAcc'">
                        Deactivate
                    </button>
                    <button class="btn btn-warning mwbtn" ng-click="activateUser(u)"
                            ng-show="currentView=='deactivatedAcc'">
                        Activate
                    </button>
                    <button class="btn btn-danger mwbtn" ng-click="deleteUser(u)">
                        Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>