<div class="container box">
    <div>
        <hr>
        <h2 class="intro-text text-center"><strong>Your current reservations</strong>
        </h2>
        <hr>

        <div class="text-center text-warning" ng-show="myReservations==null || myReservations.length<=0">
            You do not have any reservations.
        </div>

        <table class="table table-hover" ng-show="myReservations.length>0">
            <thead>
            <tr>
                <th>Where</th>
                <th>Appliance</th>
                <th>Start</th>
                <th>Time</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="r in myReservations">
                <td>r.appliance</td>
                <td>
                    <button class="btn btn-success mwbtn" ng-click="selectBuilding(b)">
                        Select
                    </button>
                    <button class="btn btn-info mwbtn" ng-click="editBuilding(b)">
                        Edit
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>