<div class="container box">
    <div>
        <hr>
        <h2 class="intro-text text-center"><strong>Your reservations</strong>
        </h2>
        <hr>

        <div class="text-center text-warning" ng-show="myReservations==null || myReservations.length<=0">
            You do not have any reservations.
        </div>

        <div class="text-center text-primary" ng-show="tokenForReservation!=null">
            Your token is:<br>
            {{tokenForReservation}}
        </div>

        <table class="table table-hover" ng-show="myReservations.length>0">
            <thead>
            <tr>
                <th>Where</th>
                <th>Appliance</th>
                <th>Start</th>
                <th>Time</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="r in myReservations">
                <td>{{r.where}}</td>
                <td>{{r.appliance}}</td>
                <td>{{r.from}}</td>
                <td>{{r.minutes}} min</td>
                <td>
                    <button class="btn btn-success mwbtn" ng-click="getToken(r)">See token</button>
                    <button class="btn btn-warning mwbtn" ng-click="cancelReservation(r)">Cancel</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>