<div class="container box">

    <div class="panel center-block">
        <div class="panel-body text-center">
            <button class="btn btn-default" ng-click="loadBuildings()">
                Buildings
            </button>
            <button class="btn btn-default" ng-click="loadRooms()" ng-disabled="(allRoomsInBuilding == null)">
                Rooms
            </button>
            <button class="btn btn-default" ng-click="loadAppliances()" ng-disabled="(allAppliancesInRoom == null)">
                Appliances
            </button>
        </div>
    </div>

    <!-- buildings/rooms/appliances -->
    <div>
        <!-- buildings view -->
        <div ng-show="currentView=='buildings'">

            <hr>
            <h2 class="intro-text text-center"><strong>Available buildings</strong>
            </h2>
            <hr>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Building number</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="b in allBuildings">
                    <td>{{ b }}</td>
                    <td>
                        <button class="btn btn-success mwbtn" ng-click="selectBuilding(b)">
                            Select
                        </button>
                        <button class="btn btn-info mwbtn" ng-click="editBuilding(b)">
                            Edit
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div>
                <button class="btn cbtn btn-primary" ng-click="">
                    Add new building
                </button>
            </div>

        </div>

        <!-- rooms view -->
        <div ng-show="currentView=='rooms' && allRoomsInBuilding != null">

            <hr>
            <h2 class="intro-text text-center"><strong>All rooms in {{selectedBuilding}}</strong>
            </h2>
            <hr>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Room number</th>
                    <th>Appliances in the room</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="r in allRoomsInBuilding">
                    <td>{{ r.number }}</td>
                    <td>{{ r.numOfAppliances }}</td>
                    <td>
                        <button class="btn btn-success mwbtn" ng-click="selectRoom(r)">
                            Select
                        </button>
                        <button class="btn btn-info mwbtn" ng-click="">
                            Edit
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div>
                <button class="btn cbtn btn-primary" ng-click="">
                    Add new room
                </button>
            </div>

        </div>

        <!-- appliances view -->
        <div ng-show="currentView=='appliances' && allAppliancesInRoom != null">
            <hr>
            <h2 class="intro-text text-center"><strong>All appliances in {{selectedBuilding}} -
                {{selectedRoom.number}}</strong>
            </h2>
            <hr>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Appliance name</th>
                    <th>Number of reservations</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="a in allAppliancesInRoom">
                    <td>{{ a.name }}</td>
                    <td>{{ a.reservations.length }}</td>
                    <td>
                        <button class="btn btn-success mwbtn" ng-click="selectAppliance(a)">
                            Reserve
                        </button>
                        <button class="btn btn-info mwbtn" ng-click="">
                            Edit
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div>
                <button class="btn cbtn btn-primary" ng-click="">
                    Add new appliance
                </button>
            </div>

        </div>

    </div>
</div>